@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Museu da informatica é um Trabalho dos alunos da Fatec Carapícuiba que visa montar um "mini" museu expondo as peças de computadores para as pessoas entenderem e verem todas as partes de um computador..</p>
