@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   
Avenida Francisco Pignatari, 650 – Vila Gustavo Correia<br />
Carapicuíba – SP – CEP: 06310-390<br />


    
    <abbr title="Phone">Tels.:</abbr>
    (11)4184-8404 / 4183-6849 / 4183-6827
</address>

<address>
    <strong>Secretaria:</strong>   <a href="mailto:contato@fateccarapicuiba.edu.br">contato@fateccarapicuiba.edu.br</a><br />
    <strong>Diretoria:</strong> <a href="mailto:contato@fateccarapicuiba.edu.br">diretoria@fateccarapicuiba.edu.br</a>
</address>