@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Museu da Informática</h1>
    <p class="lead">Museu da informatica é um Trabalho dos alunos da Fatec Carapícuiba que visa montar um "mini" museu expondo as peças de computadores para as pessoas entenderem e verem todas as partes de um computador. </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Veja mais &raquo;</a></p>
    
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar</h2>
        <p>
            Aqui você vai poder Cadastrar todas as peças do museu da informatica.
        </p>
        <p><a class="btn btn-default" href="/Cadastro_Pecas/Index">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Exibir</h2>
        <p>Aqui você podera verificar todos os items cadastrados edita-los e ate mesmo impedi-los de serem mostrados</p>
        <p><a class="btn btn-default" href="Cadastro_Pecas/Exibir2">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <p>Aqui você pode entrar em contato com os desenvolvedores do software</p>
        <p><a class="btn btn-default" href="/Home/Contact">Veja mais &raquo;</a></p>
    </div>
</div>